@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #23252c;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  max-width: 317px;
  width: 100%;
  background-color: #1a1b21;
  color: white;
  border-radius: 6px;
}